<ion-content padding class="animated fadeIn login auth-page" color="dark">
  <div class="theme-bg"></div>
  <div class="auth-content">
    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown ion-padding-top">
      <div class="logo"></div>
      <h4 no-margin>
        <ion-text color="light" class="fw700">
          Sapa Warga
        </ion-text>
      </h4>
    </div>

    <!-- Login form -->
    <form [formGroup]="onLoginForm" autocomplete="off" class="list-form">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="person" item-start></ion-icon>
          Nama Pengguna
        </ion-label>
        <ion-input color="secondary" type="text" formControlName="username"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="
          onLoginForm.get('username').touched &&
          onLoginForm.get('username').hasError('required')
        ">
        <ion-text color="warning">
          Nama Pengguna harus diisi
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          Kata Sandi
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="password"></ion-input>
      </ion-item>
      <p ion-text color="warning" class="text08" *ngIf="
          onLoginForm.get('password').touched &&
          onLoginForm.get('password').hasError('required')
        ">
        <ion-text color="warning">
          Kata Sandi harus diisi
        </ion-text>
      </p>
    </form>

    <!-- <p text-right tappable (click)="forgotPass()" class="paz">
      <ion-text color="light">
        <strong>Forgot Pass?</strong>
      </ion-text>
    </p> -->

    <div class="ion-text-end">
      <ion-button icon-left size="small" shape="round" color="dark" [disabled]="!onLoginForm.valid" tappable class="ion-margin-top"
        (click)="login()" end>
        <ion-icon name="log-in"></ion-icon>
        Masuk
      </ion-button>
    </div>

  </div>
</ion-content>