$bg: #f4f4f4;
$light_gray: #283443;
$cursor: #283443;

@supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
  .login-container .el-input input {
    color: $cursor;
  }
}

/* reset element-ui css */
$bg: #f4f4f4;
$dark_gray: #889aa4;
$light_gray: #eee;

.login-container, .reset-password-container, .reset-password-container {
  min-height: 100%;
  width: 100%;
  background-color: $bg;
  overflow: hidden;
  .login-form {
    position: relative;
    width: 520px;
    max-width: 100%;
    padding: 160px 35px 0;
    margin: 0 auto;
    overflow: hidden;
  }

  .el-input {
    display: inline-block;
    height: 47px;
    width: 85%;

    input {
      background: transparent;
      border: 0px;
      -webkit-appearance: none;
      border-radius: 0px;
      padding: 12px 5px 12px 15px;
      color: $light_gray;
      height: 47px;
      caret-color: $cursor;

      &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px $bg inset !important;
        -webkit-text-fill-color: $cursor !important;
      }
    }
  }

  .el-form-item {
    border: 1px solid rgba(15, 15, 15, 0.2);
    background: rgba(0, 0, 0, 0);
    border-radius: 5px;
    color: #454545;
  }

  img {
    width: 450px;
    margin-bottom: 20px;
  }

  .tips {
    font-size: 14px;
    color: #283443;
    margin-bottom: 10px;

    span {
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }

  .svg-container {
    padding: 6px 5px 6px 15px;
    color: $dark_gray;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
  }

  .title-container {
    position: relative;
    text-align: center;
    .title {
      font-size: 26px;
      color: #283443;
      margin: 0px auto 40px auto;
      text-align: center;
      font-weight: bold;
    }

    .set-language {
      color: #283443;
      position: absolute;
      top: 3px;
      font-size: 18px;
      right: 0px;
      cursor: pointer;
    }
  }

  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }

  .thirdparty-button {
    position: absolute;
    right: 0;
    bottom: 6px;
  }

  .filter-last-activity > span {
    display: inline-block;
    margin: 10px 4px 0 0;
  }

  @media only screen and (max-width: 470px) {
    .thirdparty-button {
      display: none;
    }
  }
}

@media(max-width:980px) {
  .filter-last-activity > span {
    display: inline-block;
    margin: 0px 4px 0 0;
  }
}

@media(max-width:480px) {
  .title-container {
    img {
      width: 300px;
      margin-bottom: 20px;
    }
  }
}

@media(max-width:440px) {
  .title-container {
    img {
      width: 340px;
      margin-bottom: 20px;
    }
  }
}

@media(max-width:360px) {
  .title-container {
    img {
      width: 300px;
      margin-bottom: 20px;
    }
  }
}

@media(max-width:320px) {
  .title-container {
    img {
      width: 250px;
      margin-bottom: 20px;
    }
  }
}

@media(max-width: 280px){
  .title-container {
    img {
      width: 120px;
      margin-bottom: 10px;
    }
  }
}