@media screen and (max-width: $mobileViewportWidth) {
  .news-hoax-list {
    .el-button--small {
        margin-bottom: 5px;
    }
  }
  
  .news-hoax-form {
    .el-form-item__label {
      float: none;
      text-align: left;
    }

    .el-select {
      width: 100%;
    }

    .action-button {
      .el-button:first-child {
        margin-bottom: 10px;
      }
    }
  }
}
