@media screen and (max-width: $mobileViewportWidth) {
  .el-form-item__label {
    text-align: left;
  }

  .el-date-editor.el-input {
    width: 100%;
  }

  .action-button {
    .el-button:first-child {
      margin-bottom: 10px;
    }
  }
}
