@import './element-variables.scss';

.news-detail {
  .el-row {
    padding-bottom: 10px;
    border-bottom: 1px solid $--border-color-lighter;
  }
}

@media screen and (max-width: $mobileViewportWidth) {
  .form-news {
    .el-form-item__label {
      float: none;
      text-align: left;
    }
  
    .el-date-editor.el-input,
    .el-select {
      width: 100%;
    }
  
    .action-button {
      .el-button:first-child {
        margin-bottom: 10px;
      }
    }
  }

  .news-detail {
    .el-row {
      & > .el-col {
        margin-bottom: 5px;
      }
    }
  }
}

@media screen and (max-width: $tabletViewportWidth) {
  .news-page {
    .el-collapse {
      border-top: none;
    }

    .el-collapse-item__header {
      margin-left: 10px;
    }
  }
}
