<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button href="tab/akun"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">Akun Saya</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile" color="light">
  <ion-card no-margin>
    <ion-card-content class="bg-profile">
      <img src="../../../assets/img/avatar.jpg" />
      <h1 class="fw500" *ngIf="dataProfile">{{ dataProfile.name }}</h1>

      <ion-button icon-left color="secondary" (click)="openEditProfile()">
        <ion-icon name="photos"></ion-icon>
        Ganti Foto
      </ion-button>
    </ion-card-content>

    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>
          <form [formGroup]="onEditForm" (ngSubmit)="onFormSubmit(onEditForm.value)">
            <ion-list margin-bottom>
              <ion-list-header color="light">
                <ion-label class="fw700">Profil</ion-label>
              </ion-list-header>

              <ion-item>
                <ion-label color="dark" position="stacked">Nama:</ion-label>
                <ion-input type="text" formControlName="name" placeholder="Masukkan nama anda"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label color="dark" position="stacked">Email:</ion-label>
                <ion-input type="email" formControlName="email" placeholder="Masukkan email anda"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label color="dark" position="stacked">Telp:</ion-label>
                <ion-input type="tel" formControlName="phone" placeholder="Masukkan nomor telepon anda"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label color="dark" position="stacked">Alamat:</ion-label>
                <ion-input type="text" formControlName="address" placeholder="Masukkan alamat anda"></ion-input>
              </ion-item>

              <ion-item *ngIf="dataKabkota">
                <ion-label>Kab/Kota:</ion-label>
                <ion-select formControlName="kabkota_id" okText="Pilih" cancelText="Batal"
                  (ngModelChange)="onChanges('kabkota')" placeholder="Pilih Kab/Kota">
                  <ion-select-option *ngFor="let kabkota of dataKabkota" value="{{ kabkota.id }}">{{ kabkota.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item *ngIf="dataKecamatan">
                <ion-label>Kecamatan:</ion-label>
                <ion-select formControlName="kec_id" okText="Pilih" cancelText="Batal"
                  (ngModelChange)="onChanges('kecamatan')" placeholder="Pilih Kecamatan">
                  <ion-select-option *ngFor="let kecamatan of dataKecamatan" value="{{ kecamatan.id }}">
                    {{ kecamatan.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item *ngIf="dataKelurahan">
                <ion-label>Kelurahan:</ion-label>
                <ion-select formControlName="kel_id" okText="Pilih" cancelText="Batal" placeholder="Pilih Kelurahan">
                  <ion-select-option *ngFor="let kelurahan of dataKelurahan" value="{{ kelurahan.id }}">
                    {{ kelurahan.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label color="dark" position="stacked">Role:</ion-label>
                <ion-input type="text" formControlName="role" placeholder="-"></ion-input>
              </ion-item>
            </ion-list>

            <ion-list>
              <ion-list-header color="light">
                <ion-label class="fw700">Media Sosial</ion-label>
              </ion-list-header>

              <ion-item>
                <!-- <ion-label color="dark" position="stacked">Instagram:</ion-label> -->
                <ion-label color="dark" position="stacked">Instagram: (contoh: <b>user234</b>)</ion-label>
                <ion-input type="text" formControlName="instagram" placeholder="masukkan akun instagram anda">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label color="dark" position="stacked">Facebook: (contoh: <b>https://facebook.com/user234</b>)
                </ion-label>
                <ion-input type="text" formControlName="facebook" placeholder="Masukkan akun facebook Anda"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label color="dark" position="stacked">Twitter: (contoh: <b>user234</b>)</ion-label>
                <ion-input type="text" formControlName="twitter" placeholder="Masukkan akun Twitter Anda"></ion-input>
              </ion-item>
            </ion-list>
            <ion-button class="ion-margin-top" size="medium" expand="full" color="dark" type="submit"
              [disabled]="!onEditForm.valid">Simpan perubahan</ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>