<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="dark">Nomor Telepon Penting</ion-text>
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" color="dark">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card
    class="ion-margin-top bg-white"
    *ngFor="let nomor_penting of dataNomorPenting"
  >
    <ion-item>
      <div class="ion-margin-top ion-margin-bottom">
        <ion-label>{{ nomor_penting.name }}</ion-label> <br />
        <ion-label
          class="margin-5x"
          *ngFor="let phone of nomor_penting.phone_numbers"
          >- {{ phone.phone_number }}
        </ion-label>
      </div>
      <div class="d-inline-f" slot="end">
        <ion-buttons>
          <ion-button shape="round" color="dark">
            <ion-icon name="call"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-buttons>
          <ion-button shape="round" color="dark">
            <ion-icon name="mail"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-item>
  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Sedang mengambil data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
