<ion-header>
  <ion-toolbar color="light">
    <ion-title color="dark">Nomor Telepon Penting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="light">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button expand="block" fill="outline" color="dark">
          <h5>List Telepon</h5>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" fill="outline" color="dark">
          <h5>Lokasi Anda</h5>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>
    <ion-item>
      <div>
        <ion-label>Pemadam Kebakaran</ion-label> <br />
        <ion-label>0265</ion-label>
      </div>
      <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
      <ion-icon name="call" slot="end" size="large"></ion-icon>
      <ion-icon name="mail" slot="end" size="large"></ion-icon>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <div>
        <ion-label>Pemadam Kebakaran</ion-label> <br />
        <ion-label>0265</ion-label>
      </div>
      <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
      <ion-icon name="call" slot="end" size="large"></ion-icon>
      <ion-icon name="mail" slot="end" size="large"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>
