<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!openSearch">Nomor Telepon Penting</ion-title>
    <ion-buttons slot="end" (click)="openSearchbar(true)" *ngIf="!openSearch">
      <ion-button shape="round" color="dark">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar *ngIf="openSearch" debounce="500" debounced-input (ionChange)="CariAreas($event.srcElement.value)"
      (ionClear)="openSearchbar(false)" placeholder="Cari">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Filter</ion-label>
    <ion-select (ionChange)="filterAreas($event.detail.value)">
      <ion-select-option value="kabkota_id {{ kabkota_id }}" selected>Kab/Kota</ion-select-option>
      <ion-select-option value="kec_id {{ kecamatan_id }}">Kecamatan</ion-select-option>
      <ion-select-option value="kel_id {{ kelurahan_id }}">Kelurahan</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="ion-text-center" *ngIf="dataEmpty">Data tidak ditemukan</div>

  <ion-card class="ion-margin-top bg-white" *ngFor="let nomor_penting of dataNomorPenting">
    <ion-item>
      <div class="ion-margin-top ion-margin-bottom" (click)="goToDetail(nomor_penting.id)">
        <ion-text class="txt-subtitle">{{ nomor_penting.name }}</ion-text> <br />
        <div class="d-inline-f">
          <ion-buttons>
            <ion-button shape="round" color="dark" class="icon-alamat">
              <ion-icon name="business"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-note>{{ nomor_penting.address }}</ion-note>
        </div>
      </div>
      <div class="d-inline-f" slot="end">
        <ion-buttons *ngIf="checkcount('phone', nomor_penting.phone_numbers)">
          <ion-button shape="round" color="dark" (click)="openPhone('call', nomor_penting.phone_numbers)">
            <ion-icon name="call"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-buttons *ngIf="checkcount('message', nomor_penting.phone_numbers)">
          <ion-button shape="round" color="dark" (click)="openPhone('message', nomor_penting.phone_numbers)">
            <ion-icon name="mail"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-item>

  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Sedang mengambil data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>