<ion-header>
  <ion-toolbar color="light">
    <ion-title color="dark">Akun Saya</ion-title>
    <ion-icon name="more" slot="end" size="large" (click)="navbarMore()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="profile" color="light">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card no-margin *ngIf="dataProfile">
    <ion-card-content class="bg-profile">
      <img class="profile-image" src="assets/img/user.png" />
      <h1 class="fw500">{{ dataProfile.name }}</h1>

      <div class="sosial-media">
        <img src="assets/icon/facebook.png" (click)="goToSosialMedia('facebook', 'test', dataProfile.facebook)" />
        <img src="assets/icon/instagram.png" (click)="goToSosialMedia('instagram', dataProfile.instagram)" />
        <img src="assets/icon/twitter.png" (click)="goToSosialMedia('twitter', dataProfile.twitter)" />
      </div>
    </ion-card-content>

    <ion-grid fixed no-padding>
      <ion-row class="ion-padding-start ion-margin-top">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label>Nama <span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>{{ dataProfile.name }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-start">
        <ion-col size="4">
          <div class="profile-content nama-pengguna">
            <ion-label>Nama Pengguna<span class="ion-text-right nama-pengguna-span">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>{{ dataProfile.username }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-start">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label>Email <span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>{{ dataProfile.email }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-start">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label>Telpon <span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>{{ dataProfile.phone }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-start">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label>Alamat <span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>{{ dataProfile.address }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-start">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label>RW <span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>{{ dataProfile.rw }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-start">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label>Kelurahan <span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>{{ dataProfile.kelurahan.name }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-start">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label>Kecamatan <span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>{{ dataProfile.kecamatan.name }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-start">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label>Kab/Kota <span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col class="ion-margin-bottom">
          <div class="profile-data">
            <ion-label>{{ dataProfile.kabkota.name }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>