<ion-header>
  <ion-toolbar color="light">
    <ion-title color="dark">Akun Saya</ion-title>
    <ion-icon name="more" slot="end" size="large" (click)="navbarMore()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="profile" color="light">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card no-margin>
    <ion-card-content class="bg-profile">
      <img class="profile-image" src="assets/img/avatar.jpg">

      <div class="sosial-media">
        <img src="assets/icon/facebook.png">
        <img src="assets/icon/instagram.png">
        <img src="assets/icon/twitter.png">
      </div>
    </ion-card-content>

    <ion-grid fixed no-padding *ngIf="dataProfile">
      <ion-row class="ion-padding-start ion-margin-top">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label>Nama <span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>Capten Marvel</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-start">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label>Email <span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>{{ dataProfile.email }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-start">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label>Telpon <span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>02569900</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-start">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label>Alamat <span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>Gate way pasteur</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-start">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label>RW <span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>11</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-start">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label>Kelurahan <span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>Pasteur</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-start">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label>Kecamatan <span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>Cicendo</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-start">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label>Kab/Kota <span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>Kota Bandung</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>


    <!-- <ion-item>
          <ion-label>Nama: </ion-label>
          <span>Capten</span>
        </ion-item> -->

    <!-- <ion-grid fixed no-padding>
        <ion-row>
          <ion-col size="12" padding>
  
            <ion-list margin-bottom>
              <ion-list-header color="light">
                <ion-label class="fw700">Profil</ion-label>
              </ion-list-header>
  
              <ion-item>
                <p>Nama</p>
              </ion-item>
  
              <ion-item>
                <ion-label color="dark" position="stacked">Email:</ion-label>
              </ion-item>
  
              <ion-item>
                <ion-label color="dark" position="stacked">Telp:</ion-label>
                <ion-input inputmode="tel" placeholder="Masukan nomor telepon anda"></ion-input>
              </ion-item>
  
              <ion-item>
                <ion-label color="dark" position="stacked">Alamat:</ion-label>
                <ion-input inputmode="text" placeholder="Masukan alamat anda"></ion-input>
              </ion-item>
  
              <ion-item>
                <ion-label color="dark" position="stacked">Rw:</ion-label>
                <ion-input inputmode="text" placeholder="Masukan Rw"></ion-input>
              </ion-item>
  
              <ion-item>
                <ion-label color="dark" position="stacked">Kelurahan:</ion-label>
                <ion-input inputmode="text" placeholder="Masukan Kelurahan"></ion-input>
              </ion-item>
  
              <ion-item>
                <ion-label color="dark" position="stacked">Kecamatan:</ion-label>
                <ion-input inputmode="text" placeholder="Masukan kecamatan"></ion-input>
              </ion-item>
  
              <ion-item>
                <ion-label color="dark" position="stacked">Kab/Kota:</ion-label>
                <ion-input inputmode="text" placeholder="Masukan Kab/Kota"></ion-input>
              </ion-item>
  
            </ion-list>
  
            <ion-list>
                <ion-list-header color="light">
                  <ion-label class="fw700">Media Sosial</ion-label>
                </ion-list-header>
  
                <ion-item>
                  <ion-label color="dark" position="stacked">Instagram:</ion-label>
                  <ion-input inputmode="text" placeholder="Masukan akun instagram Anda" ></ion-input>
                </ion-item>
  
                <ion-item>
                  <ion-label color="dark" position="stacked">Facebook:</ion-label>
                  <ion-input inputmode="text" placeholder="Masukan akun facebook Anda" ></ion-input>
                </ion-item>
  
                <ion-item>
                  <ion-label color="dark" position="stacked">Twitter:</ion-label>
                  <ion-input inputmode="text" placeholder="Masukan akun Twitter Anda" ></ion-input>
                </ion-item>
  
            </ion-list>
  
          </ion-col>
        </ion-row>
      </ion-grid> -->

    <!-- <ion-button size="medium" expand="full" color="dark" (click)="sendData()" class="ion-margin">Simpan
        perubahan</ion-button> -->
  </ion-card>
</ion-content>