<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" size="large"></ion-icon>
    </ion-buttons>
    <ion-title color="dark">Akun Saya</ion-title>
    <ion-icon name="more" slot="end" size="large" (click)="navbarMore()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="profile" color="light">
  <ion-card no-margin>
    <ion-card-content class="bg-profile">
      <img class="profile-image" src="assets/img/avatar.jpg" />
      <h1 class="fw500">Captain Marvel</h1>

      <div class="sosial-media">
        <img src="assets/icon/facebook.png" />
        <img src="assets/icon/instagram.png" />
        <img src="assets/icon/twitter.png" />
      </div>
    </ion-card-content>

    <ion-grid fixed no-padding>
      <ion-row class="ion-padding-start ion-margin-top">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label>Nama <span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>Captain Marvel</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-start">
        <ion-col size="4">
          <div class="profile-content nama-pengguna">
            <ion-label
              >Nama Pengguna<span class="ion-text-right nama-pengguna-span"
                >:</span
              ></ion-label
            >
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>captain.marvel</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-start">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label>Email <span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>captain@gmail.com</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-start">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label>Telpon <span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>{{ dataProfile.phone }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-start">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label>Alamat <span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>{{ dataProfile.address }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-start">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label>RW <span class="ion-text-right">:</span></ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>{{ dataProfile.rw }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-start">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label
              >Kelurahan <span class="ion-text-right">:</span></ion-label
            >
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>Pasteur</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-start">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label
              >Kecamatan <span class="ion-text-right">:</span></ion-label
            >
          </div>
        </ion-col>
        <ion-col>
          <div class="profile-data">
            <ion-label>Cicendo</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-start">
        <ion-col size="4">
          <div class="profile-content">
            <ion-label
              >Kab/Kota <span class="ion-text-right">:</span></ion-label
            >
          </div>
        </ion-col>
        <ion-col class="ion-margin-bottom">
          <div class="profile-data">
            <ion-label>Kota Bandung</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
